* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-home {
  color: #E7E481;
}

.link-image {
  width: 20%;
}

.link-image img {
  display: flex;
  width: 100%;
  margin: 0px !important;
}

body {
  background-color: /*#4D6E48 */#0e5135;
    color: #d4ce46;
}

p, h2, h3 {
  margin: 25px 25px 10px 25px;
}

.page1-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page1-header-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page1-header-img img{
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: #000;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .link-image {
    justify-content: center;
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .page1-header-container {
    flex-direction: column;
    align-items: center;
  }
  .page1-header-text {
    width: 100%;
    justify-content: center;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-home {
    display: flex;
    width: 100%;
  }
  .header-home h1 {
    margin: auto;
    text-align: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .header-home {
    display: flex;
  }
  .header-home h1 {
    margin: auto;
    text-align: center;
    width: 80%;
  }
}

#main-image {
  margin: 0px !important;
}
