* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-home {
  color: #E7E481;
}

.link-image {
  width: 20%;
}

.link-image img {
  display: flex;
  width: 100%;
  margin: 0px !important;
}

body {
  background-color: /*#4D6E48 */#0e5135;
    color: #d4ce46;
}

p, h2, h3 {
  margin: 25px 25px 10px 25px;
}

.page1-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page1-header-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page1-header-img img{
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: #000;
}

.about-us-pics-item img {
  width: 100%;
}

.subpage-title {
  text-align: center;
  padding: 30px 10px;
}

.dungeon {
  padding-bottom: 15px;
}

.links {
  list-style-type: circle;
  padding-left: 20px;
  padding-top: 20px;
}

.links ul {
  padding-left: 40px;
}

/* Mobile Styles */
@media only screen and (max-width: 800px) {
  .link-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .link-image img {
    width: 20%;
  }
  h1 {
    text-align: center;
  }
  .page1-header-container {
    flex-direction: column;
    align-items: center;
  }
  .page1-header-text {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .about-us-pics-item {
    width: 100%;
  }
  .game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .game img {
    width: 100%;
  }
  .game a {
    text-align: center;
    font-size: 30px;
  }
  .dungeon img {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 801px) {
  .header-home {
    display: flex;
  }
  .header-home h1 {
    margin: auto;
    text-align: center;
    width: 80%;
  }
  .dungeon {
    display: flex;
    flex-direction: row;
  }
  .dungeon img {
    width: 40%;
    height: 10%;
    margin-right: 10px;
  }
  .dungeon ul {
    list-style-type: none;
  }
  .about-us-pics-item {
    width: 40%;
  }
  .about-us-pics {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .game-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .game {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .game img {
    width: 80%;
    height: 112.5px;
  }
  .game a {
    text-align: center;
  }
  .links {
    list-style-type: circle;
  }

}

#main-image {
  margin: 0px !important;
}
